.button_choice {
  margin-bottom: 20px;
  padding: 14px 28px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
}

.arrow {
  transition: all 0.3s ease-in-out;
}

.button_choice:hover .arrow {
  transform: translateX(15px);
}
